@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/menu.css" />

</head>
<body>
    
       <div class="divIndex">
            <img class="" src="img/header-img.png" alt="">
        </div>
        <div class="divIndex secondDiv">
            <h1 class="story-content">
                <span class="firstPageA">Behind Every</span>
                <span class="sp-1 firstPage">Success</span><br>
                <span class="firstPageA">There is a </span>
                <span class="sp-2">Cactus</span>.
                <br />
                <span class="firstPageA">Let's get  </span>
                <span class="sp-1">Started</span><br />
                <span class="sp-2">EasyDo</span>
                <span class="firstPageA"> - Organize your day!</span>
            </h1>
            <a href="/Identity/Account/Register" class="btn genric-btn primary circle arrow">Get Started<span class="lnr lnr-arrow-right"></span></a>
        </div>
</body>
</html>