    <div class="col d-flex justify-content-center">
        <div class="card text-center backgroundInfo">
            <div>
                <i class="fa fa-check-circle ceckmark" aria-hidden="true"></i>
            </div>
            <h1>Success!</h1>
            <p>Action complete successfully!</p>
            <input type="button" class="genric-btn primary circle arrow borderBtn mt-5" title="Ok" value="Ok"  onclick="location.href='@Url.Action("All", "Contacts")'" />
        </div>
    </div>



